@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

html,
body {
  background: #fff;
  color: #000;
  cursor: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
